@tailwind base;
@tailwind components;
@tailwind utilities;

.a{
    background-image: url("images/crash.png");
}
.w{
    background-image: url("images/kick.png");
}
.s{
    background-image: url("images/snare.png");
}
.d{
    background-image: url("images/tom1.png");
}
.j{
    background-image: url("images/tom2.png");
}
.k{
    background-image: url("images/tom3.png");
}
.l{
    background-image: url("images/tom4.png");
}